<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h2>Response:</h2>
    <div id="text"></div>

    <h2>Insert text here:</h2>
    <textarea name="textarea" rows="2" cols="50">Write something here</textarea>
    <button>Send</button>
  </body>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script>
    $(document).ready(init);

    function init(){
      clickHandler();
    }

    var socket = new WebSocket("ws://localhost:5000/chat");
    var uid = 1111;
    var allMessages = [];

    socket.onopen = function (event) {
      console.log("Websocket open!");
    }
    
    socket.onclose = function (event) {
      console.log("Websocket closed!");
    }

    socket.onmessage = function (event) {
      var incomingMessage = JSON.parse(event.data);
      var $message = $('<p></p>)').text(incomingMessage["message"]);
      $("#text").append($message);
    }

    function clickHandler() {
      $('button').click(sendMessage);
    }

    function sendMessage(event) {
      var data = JSON.stringify({
        uid: uid,
        message: $('textarea').val()
      });

      socket.send(data);
    }

  </script>

</html>
